<div class="container mt-4">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-4">ngx-success-box</h1>
        <p class="lead">Set of reusable Angular components (factory workers) to help display success messages.</p>
        <hr class="my-4">
        <div class="text-center">
          <button type="button"
                  class="btn btn-sm btn-dark mr-1"
                  (click)="showSuccess()">Success
          </button>
          <button type="button"
                  class="btn btn-sm btn-dark mr-1"
                  (click)="showSuccessWithCallback()">Success (+Callback)
          </button>
          <button type="button"
                  class="btn btn-sm btn-dark mr-1"
                  (click)="showSuccess(container)">Success (container)
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row mt-4">
    <div class="col">
      <div style="height: 200px; border: 1px solid #607D8B; position: relative;" #container></div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h2 class="display-4 size-2">Success-Box Renderer (Worker)</h2>
      <pre><code class="language-ts">
        this.successBoxWorker.render(message: string, options: DisplayOptionsInterface = {{'{}'}}): ComponentRef&lt;SuccessBoxComponent>

        this.successBoxWorker.render(
          '&lt;h2>Some success message!&lt;/h2>',
          {{'{'}}
            dismiss: (compRef: ComponentRef&lt;SuccessBoxComponent>): void => {{'{}'}},
            retry: {{'{'}}
              buttonText: 'RETRY',
              callback: (compRef: ComponentRef&lt;SuccessBoxComponent>): void => {{'{}'}}
            }
          }
        );
      </code></pre>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <h2 class="display-4 size-2">CSS styles</h2>
      <pre><code class="language-css">
        /* You can add global styles to this file, and also import other style files */
        @import "../../ngx-success-box/src/assets/css/ngx-success-box.css";
      </code></pre>
    </div>
  </div>
</div>
